@{
    Layout = "";
    }
<div class="cart-top pull-right">
    <div id="cart" class="">
        <div class="heading">
            <h4>Giỏ Hàng</h4>
            <a><span id="cart-total">(0)</span></a>
        </div>
        <div class="content">
            <div class="mini-cart-info">
                <table>
                    <tbody id="contentCard">
                
                    </tbody>
                </table>
            </div>
            <div class="mini-cart-total">
                <table>
                    <tbody>
                        <tr>
                            <td class="right"><b>Tổng tiền: </b></td>
                            <td id="tongtien" class="right">0đ</td>
                        </tr>
                       
                    </tbody>
                </table>
            </div>
            <div class="checkout"><a href="/Home/GioHang">Xem giỏ hàng</a> </div>
        </div>
    </div>
</div>
