@model AnhThuBakery.Models.CHUDE
@{
    
}

<div class="panel panel-primary" style="width:300px;margin-top:20px;">
    <div class="panel-heading">
        <h3 class="panel-title">@ViewBag.title</h3>
    </div>
    <div class="panel-body">
        @using (Html.BeginForm("CreateChuDe", "Admincp", FormMethod.Post))
        {
            <div class="form-group">
                <label>Tên Chủ Đề</label>
                @Html.TextBoxFor(i => i.TenChuDe, new { @class = "form-control", placeholder = "Tên Chủ Đề" })
                @Html.ValidationMessageFor(i => i.TenChuDe)
            </div>
            <button type="submit" class="btn btn-success" style="float:right">Submit</button>
        }

    </div>
</div>
