@model List<AnhThuBakery.Models.CHUDE>
@{
    ViewBag.Title = "Quản Lý Chủ Đề";
}


<div class="col-lg-12">
    @{
        if (TempData["title"] != null)
        {
            @Html.Partial("PartialThongBao", TempData["title"])
        }

    }
</div>
<div class="table-responsive" style="margin-top:20px;">
    <a href="../Admincp/CreateChuDe" class="btn btn-success" style="margin-bottom:10px">Thêm Mới Chủ Đề</a>
    <table id="datatable2" cellpadding="0" cellspacing="0" border="0" class="datatable table table-striped table-bordered table-hover dataTable" aria-describedby="datatable2_info">
        <thead>
            <tr>
                <th class="header">ID <i class="fa fa-sort"></i></th>
                <th class="header">Tên Chủ Đề <i class="fa fa-sort"></i></th>
                <th class="header">Sửa, Xóa <i class="fa fa-sort"></i></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var i in Model)
            {
                <tr>
                    <td>@i.MaCD</td>
                    <td>@i.TenChuDe</td>
                    <td>
                        <div class="btn-group">
                            <button type="button" class="btn btn-info">Sửa, Xóa</button>
                            <button type="button" class="btn btn-info dropdown-toggle" data-toggle="dropdown"><span class="caret"></span></button>
                            <ul class="dropdown-menu">
                                <li><a href="../Admincp/UpdateChuDe?id=@i.MaCD">Sửa</a></li>
                                <li><a href="../Admincp/DeleteChuDe?IdChuDe=@i.MaCD">Xóa</a></li>
                            </ul>
                        </div>

                    </td>
                </tr>
            }

        </tbody>
    </table>
</div>




