@model AnhThuBakery.Models.TINTUC
@{
    ViewBag.Title = "Update Tun Tức";
}

<div class="panel panel-primary" style="width:800px;margin-top:20px;">
    <div class="panel-heading">
        <h3 class="panel-title">Cập nhật Tin Tức</h3>
    </div>
    <div class="panel-body">
        @using (Html.BeginForm("UpdateTinTuc", "Admincp", FormMethod.Post))
        {
            @Html.HiddenFor(m=>m.MaTinTuc)
            <div class="form-group">
                <label>Ngày Đăng</label>
                @Html.TextBoxFor(m => m.NgayDang, new { @class = "form-control",id="datepicker" })
                @Html.ValidationMessageFor(i => i.NgayDang)
            </div>

            <div class="form-group">
                <label>Nội Dung</label>
                @Html.TextAreaFor(i => i.NoiDung, new { @class = "form-control", placeholder = "Content", @id = "ckeContent" })
            </div>
            <div class="form-group" style="float:right;">
                <button type="reset" class="btn btn-warning">Xóa</button>
                <button type="submit" class="btn btn-success">Sửa</button>
            </div>
        }
    </div>
</div>



<script src="../../ckeditor/ckeditor.js" type="text/javascript"></script>
<script src="../../ckfinder/ckfinder.js" type="text/javascript"></script>

@*Ckediter và Ckfinder*@
<script type="text/javascript">
    CKEDITOR.replace("ckeContent");
</script>

