@{
    ViewBag.Title = "MuaThanhCong";
    Layout = "~/Views/Shared/LayoutHome.cshtml";
}

<div style="text-align: center;" class="col-lg-12">
    <h1>Chúc Mừng Bạn Đã Đặt Hàng Thành Công !</h1>
    <div style="text-align:center;margin-left:400px;" class="center pull-left"><a href="/Home/" class="button">Tiếp tục mua hàng</a></div>
</div>